.header {
    @include flexColumn1;
    height: 50vh;
    padding: 3rem 0;

    &__title {
        line-height: 1.2;
        margin-bottom: 1rem;

       &-span {
           font-weight: $fw-bolder;
           font-size: $fs-title;
           display: block;
           width: 100%;
       }
    }

    &__para {
        font-size: 1.8rem;
        margin-bottom: 2rem;
        line-height: 1.2;
        
        &-span {  
            display: block;
        }
    }
}

.autre .header {
    height: 40vh;
}

